@import 'https://at.alicdn.com/t/font_2373495_hxzvbm8af0s.css';

@font-face {
  font-family: 'iconfont'; /* project id 2373495 */
  src: url('//at.alicdn.com/t/font_2373495_hxzvbm8af0s.eot');
  src: url('//at.alicdn.com/t/font_2373495_hxzvbm8af0s.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2373495_hxzvbm8af0s.woff2') format('woff2'), url('//at.alicdn.com/t/font_2373495_hxzvbm8af0s.woff') format('woff'),
    url('//at.alicdn.com/t/font_2373495_hxzvbm8af0s.ttf') format('truetype'), url('//at.alicdn.com/t/font_2373495_hxzvbm8af0s.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
